<h1>Listing effects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Name thai</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @effects.each do |effect| %>
  <tr>
    <td><%= effect.name %></td>
    <td><%= effect.name_th %></td>
    <td><%= effect.description %></td>
    <td><%= link_to 'Show', [:backoffice,effect] %></td>
    <td><%= link_to 'Edit', edit_backoffice_effect_path(effect) %></td>
    <td><%= link_to 'Destroy', [:backoffice,effect], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Effect', new_backoffice_effect_path %>
