
<div class="span8" style="margin-top: 5px;">
  <div class="well">
    <ul style="list-style: none outside none; margin: 0 0 9px 15px;">
      <% @activity_monthly = @activities.group_by { |a| a.created_at.month } %>
        <% @activity_monthly.each do |month,activity| %>
        <h4> ข่าวกิจกรรมประจำเดือน: <%= I18n.t("date.month_names")[month] %> </h4>
          <% activity.each do |a| %>
            <div class="content_pa">
                <% doc = Nokogiri::HTML(a.content) %>
                <% img_srcs = doc.css('img').map{ |i| i['src'] } %>
                <% doc.xpath("//img").each {|x| x.remove} %>
                <div class="image_pa">
                  <img src=<%=img_srcs.first %> width="160" height="80" style="border:#778888 0px solid; padding:5px; background:#BBDAFF;"/><br/>
                  <button class="btn btn-small btn-info" type="button" style="margin: 5px 0px 0px 40px">อ่าน: <%=a.hit_count %> ครั้ง</button>
                </div>
                <h5 class="title_pa"> <%= link_to  a.title, activity_path(a)%> </a></h5>
                <div class="">
                  <%= a.intro %>
                </div>
                <div class="date_pa">
                  <%=t I18n.l(a.created_at, :format => :long) %>
                </div>
            </div>
            <div style="clear:both"></div>
          <% end %>
        <% end %>
        </li>
    </ul>
  </div>
</div>

<div class="span4" style="margin-top: 5px;">
</div><!--/span-->

