<div class="span4" style="margin-top: 5px;">
  <div style="padding: 8px 0;" class="well">
    <ul class="nav nav-list">
      <li class="nav-header"><h4>รายงานผลกระทบ</h4>

      </li>
      <% if @effects %>
        <% @effects.each_with_index   do |effect,index|%>
          <li style="line-height: 2em;">
            <div style="float: left; width: 60%">
              <a href="/progresses/effect/<%= effect.id %>" class="menuheader"><%= index +1  %>).<%= effect.name_th %></a>
            </div>
            <div class="pull-right">
              <button class="btn btn-small btn-danger" type="button"> <%= effect.announces.size %>  </button>
            </div>
          </li>
        <% end %>
      <% end %>
      <div style="clear: both;"></div>


    </ul>
  </div>
</div><!--/span-->

<div class="span8" style="margin-top: 5px;">
  <p id="notice"><%= notice %>
  <h4> ผลกระทบด้าน <%= @effect.name_th  %> </h4>
  <table id="board" class="table table-bordered datatable">
    <thead>
    <tr>
      <th style="width: 10%">วันที่</th>
      <th style="width: 50%">รายงาน</th>
      <th style="width: 20%">อ่าน(ครั้ง)</th>
    </tr>
  </thead>
    <% if @announces %>
      <% @announces.each do |announce| %>
        <tr>
          <td><%= announce.created_at.strftime("%m/%d/%Y") %></td>
          <td><a href="/progresses/announce/<%= announce.id %>"><%= announce.title %></a></td>
          </td>
          <td><%= announce.hit_count %> ครั้ง<!--,<%= announce.hits.last.user_ip if announce.hits.last %>--></td>
        </tr>
      <% end %>
    <% end %>

  </table>
</div>
