<div class="span4" style="margin-top: 5px;">
  <div style="padding: 8px 0;" class="well">
    <ul class="nav nav-list">
      <li class="nav-header"><h4>รายชื่อสถานีรถไฟฟ้า</h4></li>
      <%  @sections.each do |section| %>
        <%= section.name %>
        <% if @stations %>
          <% section.stations.asc(:order).each_with_index   do |station,index|%>
           <li style="line-height: 2em;">
            <div style="float: left; width: 90%">
              <a href="/progresses/station/<%= station.id %>" class="menuheader"><%= index +1  %>).<%= station.name %></a>
            </div>
               <div class="pull-right">
                <button class="btn btn-small btn-warning" type="button"> <%= station.reports.count%>  </button>
              </div>
            </li>
          <% end %>
          <% end %>
         <div style="clear: both;"></div>
      <%end%>
      <div style="clear: both;"></div>

    </ul>
  </div>
</div><!--/span-->

<div class="span8" style="margin-top: 5px;">
  <p id="notice"><%= notice %>
  <table class="table table-bordered">
    <tr>
      <th style="width: 10%">วันที่</th>
      <th style="width: 60%">รายงาน</th>
      <!-- <th style="width: 20%">สถานี</th> -->
      <th style="width: 15%">อ่าน(ครั้ง)</th>
    </tr>
    <% if @reports %>
      <%= paginate @reports %>
      <% @reports_monthly = @reports.group_by {|r| r.created_at.month} %>
      <% @reports_monthly.each do |month,report| %>
        <!--  <h4> ความคืบหน้าประจำเดือน <%= I18n.t("date.month_names")[month]   %></h4> -->
                <% report.each do |r| %>
                  <tr>
                    <td><%= r.created_at.strftime("%d/%m/%Y") %></td>
                    <td><a href="/progresses/report/<%= r.id %>"><%= r.title %></a></td>
                     <td><%= r.hit_count %></td>
                  </tr>
                <% end %>
              <% end %>
    <% end %>

  </table>
</div>
