<p id="notice"><%= notice %></p>

<p>
  <b>Name th:</b>
  <%= @mediatype.name_th %>
</p>

<p>
  <b>Name en:</b>
  <%= @mediatype.name_en %>
</p>


<%= link_to 'Edit', edit_mediatype_path(@mediatype) %> |
<%= link_to 'Back', mediatypes_path %>
