<div class="announce_stuff">
  <div class="widget">

    <div class="traffic" style="margin-left: 10px;">
      <div class="stat">
        <a rel="nofollow" target="_blank" title="ผลกระทบด้านจราจร" href="">
          <span class="count">1234</span>
          <span class="desc">จราจร</span>
        </a>
      </div>
    </div>


    <div class="sound">
      <div class="stat">
        <a rel="nofollow" target="_blank" title="ผลกระทบด้านเสียง" href="">
          <span class="count">382</span>
          <span class="desc">เสียงดัง</span></a>
      </div>
    </div>

    <div class="vibration">
      <div class="stat">
        <a rel="nofollow" target="_blank"  title="ผลกระทบด้านแรงสั่น" href="">
          <span class="count">382</span>
          <span class="desc">แรงสั่น</span>
        </a>
      </div>
    </div>
    <div class="clear">
    </div>
    <div class="dust" style="margin-left: 10px; ">
      <div class="stat">
        <a rel="nofollow" target="_blank" title="ผลกระทบด้านฝุ่น" href="">
          <span class="count">311</span>
          <span class="desc">ฝุ่นผง</span>
        </a>
      </div>
    </div>

    <div class="drain">
      <div class="stat">
        <a rel="nofollow" target="_blank"  title="ผลกระทบด้านระบายน้ำ" href="">
          <span class="count">1929</span>
          <span class="desc">ระบายน้ำ</span>
        </a>
      </div>
    </div>

    <div class="report">
      <div class="stat">
        <a rel="nofollow" target="_blank" title="รายงานความคืบหน้า" href="">
          <span class="count">1929</span>
          <span class="desc">ความคืบหน้า</span>
        </a>
      </div>
    </div>

    <!--extext box -->
    <div id="clear">

    </div>
    <div id="announcesearch" class="well" style="margin-top: 10px; ">
      <%= form_tag home_index_path, :method => :get , :remote => true  do %>
        <div class="collapse-group">
          <div class="input-append pull-rigth">
            <%= text_field_tag :search, params[:search], :class => "input-medium" %>
            <button class="btn" type="submit">Search</button>
            <button class="btn advancesearch" type="button">Options</button>
          </div>
          <p class="collapse">
            <% Effect.all.to_a.each do |effect| %>
              <%= check_box_tag "search[effect_ids][]", effect.id %> <%= effect.name_th %>
            <% end %>
          </p>
        </div>
      <% end %>

        <ul class="nav nav-list bs-docs-sidenav ">
      <div id="announces">
        <!-- show search hear  -->
        <ul class="nav nav-list bs-docs-sidenav ">
          <% if @announces10 %>
            <% @announces10.each do |a| %>
              <li>
                <i class="icon-chevron-right"></i><%= link_to a.title, {controller: "progresses", action: "announce",id: a} %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div> <!--announce -->
    </ul>
    </div>
    <!--extext box -->
  </div>
</div>


