<h2 class="menuheader">ประกาศผลกระทบ </h2>
<form class="form-inline form-search well panel bluebox" id="search" method="post" action="">
  <div class="pull-right">
    <input type="text" placeholder="Search…" class="input-medium" maxlength="128" id="keywords" name="keywords">
    <input type="submit" value="Search" class="btn">
  </div>
  <ul class="nav nav-panel nomargin">
  </ul>
</form>
<div class="tabbable tabs-left">
  <ul class="nav nav-tabs" id="effectTab">
    <li><a href="#traffic" data-toggle="tab"><i class="icon-road"></i>จราจร</a></li>
    <li><a href="#sound" data-toggle="tab"><i class="icon-bullhorn"></i>เสียง</a></li>
    <li><a href="#vibration" data-toggle="tab"><i class="icon-warning-sign"></i>สั่นสะเทือน</a></li>
    <li><a href="#dust" data-toggle="tab"><i class="icon-asterisk"></i>ฝุ่นละออง</a></li>
    <li><a href="#drain" data-toggle="tab"><i class="icon-tint"></i>ระบายน้ำ</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="traffic">
      <ul>
        <% if @traffics  %>
        <% @traffics.each do |traffic| %>
          <li><%=traffic.title%></li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane active" id="sound">
      <ul>
        <% if @sounds %>
        <% @sounds.each do |sound| %>
          <li><%=sound.title%></li>
        <% end %>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane active" id="vibration">
      <ul>
        <% if @vibration  %>
        <% @vibrations.each do |vibration| %>
          <li><%=vibration.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
    <div class="tab-pane active" id="dust">
      <ul>
        <% if @dusts %>
        <% @dusts.each do |dust| %>
          <li><%=dust.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
    <div class="tab-pane active" id="drain">
      <ul>
        <% if @drains %>
        <% @drains.each do |drain| %>
          <li><%=drain.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
  </div>
</div>

