
<div style="clear:both;margin-top:10px;"></div>
<%= image_tag 'banner1.png' %>
<div style="clear:both;margin-top:10px;"></div>
<h2 class="menuheader-green">ประกาศผลกระทบ </h2>

<%= form_tag home_index_path, :method => :get , :remote => true ,:class => "well lightyellowbox" do %>
  <div class="collapse-group">
  <div class="input-append pull-rigth">
    <%= text_field_tag :search, params[:search], :class => "input-medium" %>
    <button class="btn" type="submit">Search</button>
    <button class="btn advancesearch" type="button">Options</button>
  </div>
  <p class="collapse">
   <% Effect.all.to_a.each do |effect| %>
    <%= check_box_tag "search[effect_ids][]", effect.id %> <%= effect.name_th %>
  <% end %>

  </p>
  </div>
<% end %>
<div id="announces">
show search hear
</div>
<div class="tabbable tabs-left lightyellowbox well" >
  <ul class="nav nav-tabs" id="effectTab">
    <li><a href="#traffic" data-toggle="tab"><i class="icon-road"></i>จราจร</a></li>
    <li><a href="#sound" data-toggle="tab"><i class="icon-bullhorn"></i>เสียง</a></li>
    <li><a href="#vibration" data-toggle="tab"><i class="icon-warning-sign"></i>แรงสั่น</a></li>
    <li><a href="#dust" data-toggle="tab"><i class="icon-asterisk"></i>ฝุ่นผง</a></li>
    <li><a href="#drain" data-toggle="tab"><i class="icon-tint"></i>ระบายน้ำ</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="traffic">
      <ul>
        <% if @traffics %>
        <% @traffics.each do |traffic| %>
          <li><%=traffic.title%></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="tab-pane active" id="sound">
      <ul>
        <% if @sounds %>
        <% @sounds.each do |sound| %>
          <li><%=sound.title%></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="tab-pane active" id="vibration">
      <ul>
        <% if @vibrations %>
        <% @vibrations.each do |vibration| %>
          <li><%=vibration.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
    <div class="tab-pane active" id="dust">
      <ul>
        <% if @dusts %>
        <% @dusts.each do |dust| %>
          <li><%=dust.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
    <div class="tab-pane active" id="drain">
      <ul>
        <% if @drains %>
        <% @drains.each do |drain| %>
          <li><%=drain.title%></li>
        <% end %>
        <% end %>
      </ul>

    </div>
  </div>
</div>

