<!--
<div style="clear:both;margin-top:10px;"></div>
<div style="clear:both;margin-top:10px;"></div>
-->
<h2 class="menuheader-green">ประกาศผลกระทบ </h2>
<%= render :partial => 'shared/announce_stuff' %>
<!--
<div class="tabbable tabs-left lightyellowbox well" >
  <ul class="nav nav-tabs" id="effectTab">
    <li><a href="#traffic" data-toggle="tab"><i class="icon-road"></i>จราจร</a></li>
    <li><a href="#sound" data-toggle="tab"><i class="icon-bullhorn"></i>เสียง</a></li>
    <li><a href="#vibration" data-toggle="tab"><i class="icon-warning-sign"></i>แรงสั่น</a></li>
    <li><a href="#dust" data-toggle="tab"><i class="icon-asterisk"></i>ฝุ่นผง</a></li>
    <li><a href="#drain" data-toggle="tab"><i class="icon-tint"></i>ระบายน้ำ</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="traffic">
      <ul>
        <% if @traffics %>
        <% @traffics.each do |traffic| %>
          <li><%=traffic.title%></li>
        <% end %>
      <% end %>
      </ul>
    </div>

    <div class="tab-pane active" id="sound">
      <ul>
        <% if @sounds %>
        <% @sounds.each do |sound| %>
          <li><%=sound.title%></li>
        <% end %>
      <% end %>
      </ul>
    </div>
    <div class="tab-pane active" id="vibration">
      <ul>
        <% if @vibrations %>
        <% @vibrations.each do |vibration| %>
          <li><%=vibration.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
    <div class="tab-pane active" id="dust">
      <ul>
        <% if @dusts %>
        <% @dusts.each do |dust| %>
          <li><%=dust.title%></li>
        <% end %>
      <% end %>
      </ul>

    </div>
    <div class="tab-pane active" id="drain">
      <ul>
        <% if @drains %>
        <% @drains.each do |drain| %>
          <li><%=drain.title%></li>
        <% end %>
        <% end %>
      </ul>

    </div>
  </div>
</div>
-->
