<%- model_class = Track -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
  <h3> สำหรับโครงการ: <%= @project.name %> </h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 15%"><%= model_class.human_attribute_name(:atmonth) %></th>
      <th style="width: 15%"><%= model_class.human_attribute_name(:projection) %></th>
      <th style="width: 15%"  ><%= model_class.human_attribute_name(:actual) %></th>
      <th style="width: 35%" ><%= model_class.human_attribute_name(:reportnote) %></th>
      <th style="width: 20%"  ><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tracks.each do |track| %>
      <tr>
        <td><%= track.atmonth.to_date.strftime('%a, %b %d, %Y') %></td>
        <td><%= best_in_place track, :projection, path: [:mrta,track]  %></td>
        <td><%= best_in_place track, :actual, path: [:mrta,track]  %></td>
        <td><%= best_in_place track, :reportnote, path: [:mrta,track]  %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_mrta_track_path(track), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      mrta_track_path(track),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_mrta_track_path,
            :class => 'btn btn-primary' %>
