<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @announce.title %>
</p>

<p>
  <b>Content:</b>
  <%= @announce.content %>
</p>

<p>
  <b>Publishon:</b>
  <%= @announce.publishon %>
</p>

<p>
  <b>Publishoff:</b>
  <%= @announce.publishoff %>
</p>

<p>
  <b>Approved:</b>
  <%= @announce.approved %>
</p>

<p>
  <b>Approvedby:</b>
  <%= @announce.approvedby %>
</p>


<%= link_to 'Edit', edit_announce_path(@announce) %> |
<%= link_to 'Back', announces_path %>
