<p id="notice"><%= notice %></p>

<p>
  <b>Name th:</b>
  <%= @company.name_th %>
</p>

<p>
  <b>Name en:</b>
  <%= @company.name_en %>
</p>

<p>
  <b>Address:</b>
  <%= @company.address %>
</p>

<p>
  <b>Tel:</b>
  <%= @company.tel %>
</p>

<p>
  <b>Contact:</b>
  <%= @company.contact %>
</p>

<p>
  <b>Telcontact:</b>
  <%= @company.telcontact %>
</p>

<p>
  <b>Callcenter:</b>
  <%= @company.callcenter %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
