<h1>Listing geopoints</h1>

<table>
  <tr>
    <th>Name</th>
    <th>City</th>
    <th>Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Gmaps</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @geopoints.each do |geopoint| %>
  <tr>
    <td><%= geopoint.name %></td>
    <td><%= geopoint.city %></td>
    <td><%= geopoint.country %></td>
    <td><%= geopoint.latitude %></td>
    <td><%= geopoint.longitude %></td>
    <td><%= geopoint.gmaps %></td>
    <td><%= link_to 'Show', geopoint %></td>
    <td><%= link_to 'Edit', edit_geopoint_path(geopoint) %></td>
    <td><%= link_to 'Destroy', geopoint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%  %>
<%= gmaps("markers" => {"data" => @jsons, "options" => {"list_container" => "markers_list", "do_clustering" => true } }   ) %>

<ul id="markers_list"> </ul>
<%= link_to 'New Geopoint', new_geopoint_path %>

